.App {
  display: grid;
  place-items: center;
  height: 100vh;
  text-align: center;
  margin-bottom: 5px;
  
}
.nextButton {
  margin-top: 10px;
}
body {
  background-image: linear-gradient(to bottom right, red, yellow);
}